<a href="https://colab.research.google.com/github/Marialerq/DataVisualization2023-2/blob/main/01_Python_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **1. Getting started**

## 1.1 Python as a calculator

In [ ]:
# Addition
2+3

5

In [ ]:
# Substraction
15 - 7

8

In [ ]:
# Multiplication
63 * 13

819

In [ ]:
# Division
99 / 43

2.302325581395349

In [ ]:
# ???
99 // 43

2

In [ ]:
# Exponentials
8 ** 4

4096

## 1.2 Parentheses

In [ ]:
7 * (2+3)

35

## 1.3 Integers versus real numbers
* Integers dont have decimals in programing we call int
* Real numbers have decimals in programing we call float

In [ ]:
print(5)
print(type(5))

5
<class 'int'>

In [ ]:
print(5.0)
print(type(5.0))

5.0
<class 'float'>

# 1.4 Scientific notation

In [1]:
5.0e3

5000.0

In [2]:
3.2e2

320.0

# **2. Basic Functions**

## 2.1 Print

In [4]:
print(15)
print(16)

15
16

In [5]:
# Print different elements in the same line
print(9,8,2023)

9 8 2023

In [8]:
# ???
for i in range(1,11): print(i)

1
2
3
4
5
6
7
8
9
10

In [10]:
# With a step, in this case 3
for i in range(1,10,3): print(i)

1
4
7

In [ ]:
print

* for i in range(1,11,**55)**: print(i) si pongo ese tercer numero es como si fuera los pasos
* En el texto \t da el espacio de tabulación
* \n hace una nueva linea

In [17]:
# With text
print("Alejandra")
print("First names:", "María Alejandra")
print("First names:\t", "María Alejandra")
print("First names:\n", "María Alejandra")

Alejandra
First names: María Alejandra
First names:	 María Alejandra
First names:
 María Alejandra

In [18]:
# Text and numbers
print("My favorite number is", 11)

My favorite number is 11

## **2.2 Round**

Just with numbers
Si se usa con decimales

In [19]:
round(5.7289,2)

5.73

In [ ]:
# Exercise 1
## Aproximate the number 15.4795612358
## to 1,2,3,..., decimals and print the results

In [54]:
print(round(15.4795612358,1))
for i in range(0,11):
  print("Approx.with:",i, "decimals",round(15.4795612358,i))

15.5
Approx.wiht: 0 decimals 15.0
Approx.wiht: 1 decimals 15.5
Approx.wiht: 2 decimals 15.48
Approx.wiht: 3 decimals 15.48
Approx.wiht: 4 decimals 15.4796
Approx.wiht: 5 decimals 15.47956
Approx.wiht: 6 decimals 15.479561
Approx.wiht: 7 decimals 15.4795612
Approx.wiht: 8 decimals 15.47956124
Approx.wiht: 9 decimals 15.479561236
Approx.wiht: 10 decimals 15.4795612358

In [ ]:
# Exercise 2
# Find and print the 100 first multiples of 7

In [61]:
for i in range(1,101):
  print("The multiple in position",i,i*7)

The multiple in position 1 7
The multiple in position 2 14
The multiple in position 3 21
The multiple in position 4 28
The multiple in position 5 35
The multiple in position 6 42
The multiple in position 7 49
The multiple in position 8 56
The multiple in position 9 63
The multiple in position 10 70
The multiple in position 11 77
The multiple in position 12 84
The multiple in position 13 91
The multiple in position 14 98
The multiple in position 15 105
The multiple in position 16 112
The multiple in position 17 119
The multiple in position 18 126
The multiple in position 19 133
The multiple in position 20 140
The multiple in position 21 147
The multiple in position 22 154
The multiple in position 23 161
The multiple in position 24 168
The multiple in position 25 175
The multiple in position 26 182
The multiple in position 27 189
The multiple in position 28 196
The multiple in position 29 203
The multiple in position 30 210
The multiple in position 31 217
The multiple in position 32 224
The multiple in position 33 231
The multiple in position 34 238
The multiple in position 35 245
The multiple in position 36 252
The multiple in position 37 259
The multiple in position 38 266
The multiple in position 39 273
The multiple in position 40 280
The multiple in position 41 287
The multiple in position 42 294
The multiple in position 43 301
The multiple in position 44 308
The multiple in position 45 315
The multiple in position 46 322
The multiple in position 47 329
The multiple in position 48 336
The multiple in position 49 343
The multiple in position 50 350
The multiple in position 51 357
The multiple in position 52 364
The multiple in position 53 371
The multiple in position 54 378
The multiple in position 55 385
The multiple in position 56 392
The multiple in position 57 399
The multiple in position 58 406
The multiple in position 59 413
The multiple in position 60 420
The multiple in position 61 427
The multiple in position 62 434
The multiple in position 63 441
The multiple in position 64 448
The multiple in position 65 455
The multiple in position 66 462
The multiple in position 67 469
The multiple in position 68 476
The multiple in position 69 483
The multiple in position 70 490
The multiple in position 71 497
The multiple in position 72 504
The multiple in position 73 511
The multiple in position 74 518
The multiple in position 75 525
The multiple in position 76 532
The multiple in position 77 539
The multiple in position 78 546
The multiple in position 79 553
The multiple in position 80 560
The multiple in position 81 567
The multiple in position 82 574
The multiple in position 83 581
The multiple in position 84 588
The multiple in position 85 595
The multiple in position 86 602
The multiple in position 87 609
The multiple in position 88 616
The multiple in position 89 623
The multiple in position 90 630
The multiple in position 91 637
The multiple in position 92 644
The multiple in position 93 651
The multiple in position 94 658
The multiple in position 95 665
The multiple in position 96 672
The multiple in position 97 679
The multiple in position 98 686
The multiple in position 99 693
The multiple in position 100 700

In [ ]:
# Exercise 3
# Calculate and print the multiplication table for the numbers 3,4,5,6

In [70]:
  print("Multiplication table for",3)
for i in range(1,10): print(3, "X",i, "=", 3*1)

Multiplication table for 3
3 X 1 = 3
3 X 2 = 3
3 X 3 = 3
3 X 4 = 3
3 X 5 = 3
3 X 6 = 3
3 X 7 = 3
3 X 8 = 3
3 X 9 = 3

In [71]:
for j in range (3,7):
  print("Multiplication table of", j)
  for j in range (1,10):
    print(j,"X",i,"=",j*i)

Multiplication table of 3
1 X 9 = 9
2 X 9 = 18
3 X 9 = 27
4 X 9 = 36
5 X 9 = 45
6 X 9 = 54
7 X 9 = 63
8 X 9 = 72
9 X 9 = 81
Multiplication table of 4
1 X 9 = 9
2 X 9 = 18
3 X 9 = 27
4 X 9 = 36
5 X 9 = 45
6 X 9 = 54
7 X 9 = 63
8 X 9 = 72
9 X 9 = 81
Multiplication table of 5
1 X 9 = 9
2 X 9 = 18
3 X 9 = 27
4 X 9 = 36
5 X 9 = 45
6 X 9 = 54
7 X 9 = 63
8 X 9 = 72
9 X 9 = 81
Multiplication table of 6
1 X 9 = 9
2 X 9 = 18
3 X 9 = 27
4 X 9 = 36
5 X 9 = 45
6 X 9 = 54
7 X 9 = 63
8 X 9 = 72
9 X 9 = 81