<a href="https://colab.research.google.com/github/Marialerq/DataVisualization2023-2/blob/main/02_Phtyon_variables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**1. What is variable?**
It is a *container* You can save *stuff* in there

In [ ]:
a = 10

In [ ]:
print(a + 1)
print(a*a)
print(a/2)

11
100
5.0

In [ ]:
#Example
x = y = z = 100

# **2. Delete and clear**

Si quiero borrar una variable solo del y la variable y si quiere borrar dos del variable, variable

In [ ]:
#Deletate
del s

In [ ]:
# Clear
# be careful you delete everything
%reset

Once deleted, variables cannot be recovered. Proceed (y/[n])? y

In [ ]:
# Exercise 1
## Aproximate the number 15.4795612358
## to 1,2,3,..., decimals and print the results

v = 15.4795612358   #the number to approx.
a = 0     #the initial approx
z = 11      # (z-1) is the last approx

for i in range(a,z):
  print("Approx. with:",i,"decimal",round(v,i))

Approx. with: 0 decimal 15.0
Approx. with: 1 decimal 15.5
Approx. with: 2 decimal 15.48
Approx. with: 3 decimal 15.48
Approx. with: 4 decimal 15.4796
Approx. with: 5 decimal 15.47956
Approx. with: 6 decimal 15.479561
Approx. with: 7 decimal 15.4795612
Approx. with: 8 decimal 15.47956124
Approx. with: 9 decimal 15.479561236
Approx. with: 10 decimal 15.4795612358

In [ ]:
# Exercise 2
# Find and print the 10 first multiples of 7 using variables

l = 7 #numero a multiplicar
n = 1 #inicio
f = 11 #final

print("The", f-1, "Multiples of", l)
for i in range(n,f):
  print("The multiple in position",i,i*l)

The 10 Multiples of 7
The multiple in position 1 7
The multiple in position 2 14
The multiple in position 3 21
The multiple in position 4 28
The multiple in position 5 35
The multiple in position 6 42
The multiple in position 7 49
The multiple in position 8 56
The multiple in position 9 63
The multiple in position 10 70

#**3.Naming**

In [ ]:
# A variable with my name
Name = "Alejandra"
NaMe = "Alejandra"
NAME = "Alejandra"
my_name = "Alejandra"
name = "Alejandra"
first_name = "Alejandra"

In [ ]:
age1 = 15

In [ ]:
age_01= 15

In [ ]:
## LetÂ´s say i want to create a variable for the price of a cellphone

maluma = 100
price = 100

# **4. Data types**

Integers and floats ... ok.

In [ ]:
w = 1

In [ ]:
w += 3
print(w)

7

## **4.1 Booleans**

Los unicos valores que tiene es true or false

In [ ]:
am_i_alive = False

In [ ]:
print(am_i_alive)
print(type(am_i_alive))

False
<class 'bool'>

## **4.2 Boolean expressions**

In [ ]:
x = 2
y = 3

In [8]:
result1 = x <= y
print(result1)

True

In [ ]:
result2 = x == y
print(result2)

False

In [ ]:
result1 + result2

1

In [ ]:
# Practice
# Create the necessary code to evaluate the expression
# x * y > x + y
#for numbers ranging from 1 to 6

In [12]:
x = 1
y = 6
for x in range(1, 7):
    for y in range(1, 7):
        if x * y > x + y:
            print(f"{x}*{y} > {x}+{y}", "True")

        else:
            print(f"{x}*{y} <= {x}+{y}", "False")

1*1 <= 1+1 False
1*2 <= 1+2 False
1*3 <= 1+3 False
1*4 <= 1+4 False
1*5 <= 1+5 False
1*6 <= 1+6 False
2*1 <= 2+1 False
2*2 <= 2+2 False
2*3 > 2+3 True
2*4 > 2+4 True
2*5 > 2+5 True
2*6 > 2+6 True
3*1 <= 3+1 False
3*2 > 3+2 True
3*3 > 3+3 True
3*4 > 3+4 True
3*5 > 3+5 True
3*6 > 3+6 True
4*1 <= 4+1 False
4*2 > 4+2 True
4*3 > 4+3 True
4*4 > 4+4 True
4*5 > 4+5 True
4*6 > 4+6 True
5*1 <= 5+1 False
5*2 > 5+2 True
5*3 > 5+3 True
5*4 > 5+4 True
5*5 > 5+5 True
5*6 > 5+6 True
6*1 <= 6+1 False
6*2 > 6+2 True
6*3 > 6+3 True
6*4 > 6+4 True
6*5 > 6+5 True
6*6 > 6+6 True